.productWrapper {
  /* width: 100%; */
}

/* Box detail chiếm hết section */
.detailBox {
  position: relative; /* để đặt slider tuyệt đối bên trong */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  background: url(../../assets/bg-product.svg) no-repeat center center;
  background-size: cover; /* full background */
  height: 70vh;
}

.detailBox > h3 {
  margin: 0 auto;
  text-align: center;
  border: 1px solid var(--color-primary);
  border-top: none;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background: var(--color-primary);
  color: var(--color-bg);
  width: 70%;
}

.detailBox > p,
.detail__boxBtn {
  padding: 1rem;
}

.detail__boxBtn {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 0;
}
/* Swiper nằm góc dưới bên phải */
.cardSlider {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 18rem;
}

.productItems {
  display: flex;
  justify-content: center;
}

.productItem {
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  padding: 0.5rem;
  background: var(--color-primary-variant);
  width: 100%;
}

.productItemImage img {
  width: 100%;
  border-radius: 0.5rem;
}
