.contact__container {
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  background-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/*--------------------- FORM  ---------------------*/
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Container cho icon + input */
.form__input {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: var(--color-primary-variant);
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  color: var(--color-white);
  padding: 1rem;
}

.form__textarea {
  display: flex;
  align-items: start;
  gap: 0.8rem;
  background: var(--color-primary-variant);
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  color: var(--color-white);
  font-size: 0.95rem;
  padding: 1rem;
}

.form__input-icon,
.form__textarea-icon {
  font-size: 1.3rem;
  color: var(--color-primary);
}

/* Input & textarea */
input,
textarea {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.95rem;
  color: var(--color-white);
  font-family: "Poppins", sans-serif; /* font chung */
  font-weight: 400; /* ép cho đồng bộ */
}

/* Placeholder */
input::placeholder,
textarea::placeholder {
  font-family: inherit; /* lấy đúng font từ input */
  font-size: inherit; /* lấy đúng kích thước */
  font-weight: inherit; /* lấy đúng độ đậm */
  color: var(--color-white);
  opacity: 0.7; /* chỉnh độ mờ nếu muốn */
  font-style: normal; /* bỏ italic mặc định */
  font-size: 0.9rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
}
