header {
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.text-name {
  font-weight: 900;
  background: linear-gradient(90deg, var(--color-orange), var(--color-primary));
  background-size: 200% 200%;
  background-position: 0% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  animation: gradientMove 3s linear infinite alternate;
}

/* CTA  */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cta__btn-icon {
  font-size: 1rem;
  animation: animation__download 2s infinite ease-in-out;
}

@keyframes animation__download {
  0%,
  100% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }
}

/* HEADER SOCIALS */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  font-size: 1.5rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ME  */
.me {
  position: relative;
  width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me__bg-img {
  position: absolute;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    var(--color-bg),
    var(--color-primary-variant)
  );
  z-index: 1; /* nền dưới */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.me__avatar {
  position: relative;
  z-index: 2; /* ảnh nổi lên trên */
  height: auto;
  border-radius: 50%;
}

/* SCROLL DOWN */
.scroll__down {
  position: absolute;
  right: -4rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.scroll__down-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: relative;
  animation: animation 2s infinite ease-in-out;
}

@keyframes animation {
  0%,
  100% {
    transform: translateY(20px);
    rotate: 90deg;
  }

  50% {
    transform: translateY(0px);
    rotate: 90deg;
  }
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  header {
    height: 90vh;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
