@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header {
  /* background: var(--color-bg); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* cố định header */
  top: 0; /* dính lên trên */
  left: 0;
  width: 100%; /* kéo full ngang */
  z-index: 1000; /* đảm bảo nổi trên các phần khác */
}

.logo {
  font-family: "Pacifico", cursive;
  padding: 1rem 2rem;
  background: radial-gradient(
    circle at top left,
    var(--color-bg),
    var(--color-primary)
  );
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  /* border: 1px solid var(--color-primary); */
  border-top: none;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-white);
  text-shadow: 5px 5px 4px rgb(8, 52, 199), 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo > span {
  /* font-size: 2rem; */
}
