@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header {
  position: fixed; /* cố định header */
  top: 0; /* dính lên trên */
  left: 0;
  z-index: 1000;
  background: var(--color-bg);
  /* box-shadow: inset 0 -5px 10px rgba(255, 255, 255, 0.6); */
  padding: 0.3rem;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 100%;
  height: 110px;
  background: url("../src/assets/grass.svg") repeat-x;
  background-size: contain;
  pointer-events: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  color: var(--color-white);
  text-shadow: 2px 2px 4px rgb(8, 247, 255), 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo > span {
  /* font-size: 2rem; */
}

.header__socials {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* để nó nằm bên phải header */
  gap: 1.5rem;
  min-width: 20%;
}

.header__socials > a {
  font-size: 1.7rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header__socialsIcon {
  cursor: pointer;
}

.header__socialsIcon:hover {
  transform: scale(1.3);
}
