.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: var(--color-bg);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-height: 20rem;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebarContent a {
  position: relative; /* làm mốc cho tooltip */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-decoration: none;
  padding: 1rem 0.5rem;
  font-size: 24px;
}

/* Tooltip (label) */
.tooltip {
  position: absolute;
  left: 150%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  border: 1px solid var(--color-white);
}

/* Mũi tên nhỏ */
.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--color-white) transparent transparent;
}

/* Hover thì hiện tooltip */
.sidebarContent a:hover .tooltip {
  opacity: 1;
  left: 110%; /* trượt mượt vào gần icon */
}
