.nav {
  display: flex;
  gap: 2rem;
}

.navLink {
  color: var(--color-white);
  transition: color 0.3s ease;
  text-decoration: none;
}

.navLink:hover,
.navLink:focus,
.active {
  color: var(--color-primary);
}
